
html, body {
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.container {
    /* 3 linhas e 3 colunas */

    display: grid;
    grid-template-rows: 10vh 80vh 10vh;  /*Aqui eu passo a altura da linha*/
    grid-template-columns: 1fr 3fr 1fr;

    grid-template-areas: "h h h"
                         "a m s"
                         "f f f";
}

header {
    background-color: yellow;
    grid-area: h;
}

aside {
    background-color: green;
    grid-area: s;
}
section {
    background-color: blueviolet;
    grid-area: a;
}


main {
    background-color: #343434;
    grid-area: m;
}

footer {
    background-color: brown;
    grid-area: f;
}

